<div class="container">

    <div class="row mt-5">
        
        <div class="col-4">

        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form  #a="ngForm" (ngSubmit)="onSubmit(a.value)">
                        <div class="form-group">
                          <label for="b">User Name</label>
                          <input type="text" id="b" name="user" [(ngModel)]="user" class="form-control" #h>
                          </div>
                          <div class="form-group">
                          <label for="c">Password</label>
                          <input type="text" id="c" name="pw" [(ngModel)]="pw" class="form-control" #j>
                          </div>
                          <button type="submit" class="btn btn-primary" routerLink="angular">Login</button>
                    </form>
                 <button type="button" routerLink="register">Register</button>
                </div>
            </div>
        </div>
        <div class="col-4">

        </div>
        </div>

</div>

